*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase - DO NOT COMMIT your real config publicly if repo is public
# Remove the line below if your repo is private and you want google-services.json tracked
app/google-services.json
